body{
   
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#container{
    margin-top: 200px;
   
    height: 300px;
    width: 201px;
    
    border: 4px solid black;
    border-radius: 15px;
    display: inline-block;
}

#image{
    height: 80px;
    width: 80px;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    margin-top: 30px;
    background-image: url(Anant.jpg);
    background-size:cover;
    
    
}

#name{
    text-decoration: whitesmoke;
    font-size: 30px;
    

}
#hr{
    height: 3px;
    width: 2px;
}

p{
    color: #888;
    font-weight: 300;
    opacity: 0.9;
}

#github{
    background-color: black;
    height: 35px;
    width: 35px;
    /* margin-left: 30px;
    margin-top: 10px;
    margin-right: 10px; */
    margin: 10px;
    background-image: url(github.jpg);
    background-size: cover;
    display: inline-block;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in;

    
    
}

#github:hover{
    height: 45px;
    width: 45px;
}

#insta{
    background-color: black;
    height: 35px;
    width: 35px;
    margin: 10px;
    background-image: url(insta.jpg);
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
     transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in;

}
#insta:hover{
    height: 45px;
    width: 45px;
}


#info{
     background-color: black;
    height: 35px;
    width: 35px;
    margin: 10px;
    background-image: url(info.jpg);
    background-size: cover;
    display: inline-block;

}

a{
    text-decoration: none;
}

/* #strip{
   background-color: black;
    position: absolute;
    top: 0;
    left: 685px;
    height: 200px;
    width: 28px;
} */



