body{
    margin: 0;
    padding: 0;
   
}

#image{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: black;
    background-image: url(Anant.jpg);
    background-size:cover;
    border-radius: 50%;

}
